/* You can add global styles to this file, and also import other style files */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */

html,
body {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /* background-color: rgba(128, 128, 128, 0.089); */
  background-color: rgba(214, 147, 59, 0.411);
}
